* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header */
.header {
  height: 100px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 25px;
}

.header-title {
  color: white;
  padding: 10px;
  text-align: center;
}

/* Medicine Card */
.medicine-card {
  display: flex;
  width: 100%;
  border: 1px solid #009FFF;
  border-radius: 5px;
  gap: 20px;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.medicine-card > div {
  flex-basis: 10%;
}

.name {
  flex-grow: 1;
}

.medicine-img {
  width: 50px;
  height: 50px;
}

/* Medicine List */
.medicine-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

/* Add medicine */
.add-medicine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100%;
  margin: 10px 0; 
}

.add-medicine-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.add-medicine-form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 5px;
}

.add-header {
  text-align: center;
}

/* Edit Medicine */
.edit-medicine-closed {
  display: none;
}

.edit-medicine-open {
  display: block;
}

.edit-medicine-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.edit-medicine-form > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 5px;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
}

.nav-bar button {
  padding: 10px;
}

/* Pharmacy Page */
.pharmacy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 2px solid #009FFF;
  border-radius: 8px;
  padding: 5px;
  transition: 0.3s;
}

.pharmacy-card:hover {
  box-shadow: 0px 0px 8px 10px #cbcbcb;
  border: none
}

.pharmacy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.pharmacy-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.leaflet-container {
  width: 100%;
  height: 200px;
}

.map {
  width: 100%;
  margin-top: 10px;
}

/* Users Page */
.users-table {
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

/* Utilities */
.submit-add {
  background-color: #009FFF;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 15px;
}

.submit-add:hover {
  background-color: #000F99;
}

label {
  font-weight: bold;
}

input[type=text] {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #009FFF;
}

input[type=text]:focus {
  border: 2px solid #000F99;
  outline: none;
  color: #000F99;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 2px;
  font-weight: bolder
}

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #009FFF;
  color: white;
  font-size: 1.1rem;
  height: 40px;
}

td {
  padding: 5px;
}

tr:hover {
  background-color: lightblue;
  color: black;
}

@media only screen and (max-width: 850px) {
  .header {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .logo {
    position: static;
  }

  .add-medicine-form {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 5px;
  }

  .medicine-card {
    flex-direction: column;
    width: fit-content;
    gap: 5px;
  }

  .medicine-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}