* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  height: 100px;
  background-color: #009FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
}

.header-title {
  color: white;
}