* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  height: 100px;
  background-color: #009FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
}

.header-title {
  color: white;
}

/* Medicine */
.medicine-card {
  display: flex;
  width: 100%;
  border: 1px solid #009FFF;
  gap: 2%;
}

.medicine-card > div {
  flex-basis: 10%;
  flex-grow: 0;
}